---
import { Image } from 'astro:assets';

import badgeImageDisneyAuthorizedPlanner from '../assets/images/badgeDisneyAuthorizedVacationPlanner.png';
import badgeImageDisneyEarmarkedGold from '../assets/images/badgeDisneyEarmarkedGoldProducer.png';
import badgeImageUniversalAgent from '../assets/images/badgeUniversalPreferredTravelAgency.png';
import badgeImageTravelLeadersNetwork from '../assets/images/badgeTravelLeadersNetwork.png';
import badgeImageCLIA from '../assets/images/badgeCLIA.png';
---

<div class="layout">
  <div class="cell">
    <Image
      class="image"
      src={badgeImageDisneyAuthorizedPlanner}
      alt="Disney Authorized Vacation Planner badge"
      widths={[160, 80]}
      sizes="80px"
      title="Disney Authorized Vacation Planner badge"
    />
  </div>
  <div class="cell">
    <Image
      class="image"
      src={badgeImageDisneyEarmarkedGold}
      alt="Disney Earmarked Gold badge"
      widths={[160, 80]}
      sizes="80px"
      title="Disney Earmarked Gold badge"
    />
  </div>
  <div class="cell">
    <Image
      class="image wide"
      src={badgeImageUniversalAgent}
      alt="Universal Preferred Travel Agency badge"
      widths={[192, 96]}
      sizes="96px"
      title="Universal Preferred Travel Agency badge"
    />
  </div>
  <div class="cell">
    <Image
      class="image"
      src={badgeImageTravelLeadersNetwork}
      alt="Travel Leaders Network badge"
      widths={[160, 80]}
      sizes="80px"
      title="Travel Leaders Network badge"
    />
  </div>
  <div class="cell">
    <Image
      class="image wide"
      src={badgeImageCLIA}
      alt="CLIA badge"
      widths={[192, 96]}
      sizes="96px"
      title="Cruise Lines International Associations, Inc. badge"
    />
  </div>
</div>

<style>
  .layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
  }

  .cell {
    opacity: 75%;
    transition-property: transform, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }

  .image {
    aspect-ratio: 4 / 3;
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-width: 5rem;
    height: auto;
  }

  .wide {
    aspect-ratio: 5 / 3;
    max-width: 6rem;
  }

  .cell:hover {
    transform: scale(1.025);
    opacity: 1;
  }
</style>
