---
import { QUOTE_URL } from '../lib/constants';
import Button from './Button.astro';
import Card from './Card.astro';
import Container from './Container.astro';
import IconCard from './IconCard.astro';
import AwardIcon from './Icons/AwardIcon.astro';
import CompassIcon from './Icons/CompassIcon.astro';
import HeartIcon from './Icons/HeartIcon.astro';
import ShieldIcon from './Icons/ShieldIcon.astro';
import StarIcon from './Icons/StarIcon.astro';

import ctaCardImage from '../assets/images/cruiseShipFunnel.jpg';
---

<div class="section">
  <Container size="md">
    <div class="layout">
      <div class="intro">
        <h2 class="brush-font title">Our Promise to You</h2>
        <p class="subtitle">
          Our core beliefs are what make us stand out from other agencies.
        </p>
        <div class="actions">
          <Button href={QUOTE_URL} target="_blank" rel="noopener noreferrer">
            Get Started
          </Button>
        </div>
      </div>
      <div class="item">
        <IconCard
          icon={AwardIcon}
          iconColor="green"
          title="Best Prices"
          style={{ height: '100%' }}
        >
          <p>
            Having a good relationship with our suppliers allows us to provide
            the best prices possible for your vacation and even monitor it for
            new discounts right up until you travel, saving you time and money!
          </p>
        </IconCard>
      </div>
      <div class="item">
        <IconCard
          icon={StarIcon}
          iconColor="gold"
          title="Personal Touch"
          style={{ height: '100%' }}
          accent
        >
          <p>
            You will always have access to your agent and not a random person or
            chat-bot. This also allows us to provide personal and thoughtful
            touches to your vacation - something that can't be Googled!
          </p>
        </IconCard>
      </div>
      <div class="item">
        <IconCard
          icon={CompassIcon}
          iconColor="purple"
          title="Guidance"
          style={{ height: '100%' }}
        >
          <p>
            The internet is overwhelming and impersonal! We have the knowledge,
            experience, tools. and connections to provide insightful, expert
            guidance for your specific needs.
          </p>
        </IconCard>
      </div>
      <div class="item">
        <IconCard
          icon={HeartIcon}
          iconColor="red"
          title="Memories"
          style={{ height: '100%' }}
          accent
        >
          <p>
            We love what we do and provide the highest level of service to make
            your vacation a truly memorable one! We are proud to say more and
            more families trust us to plan their vacations each year!
          </p>
        </IconCard>
      </div>
      <div class="item">
        <IconCard
          icon={ShieldIcon}
          iconColor="blue"
          title="Safety Net"
          style={{ height: '100%' }}
        >
          <p>
            Sometimes things don't turn out as planned. We truly care for you
            from pre to post vacation and are here to assist you in case of
            emergency or travel disruptions, and more!
          </p>
        </IconCard>
      </div>
      <div class="item">
        <Card
          href="/contact/"
          buttonText="About Us"
          title="10 Years of Experience"
          imageSrc={ctaCardImage}
          imageAlt="Photo of a Disney Cruise Ship's horns, with a chimney behind"
          style={{ height: '100%' }}
        />
      </div>
    </div>
  </Container>
  <div class="back" aria-hidden="true">
    <span class="shadow"></span>
    <span class="shadow"></span>
  </div>
</div>

<style>
  .section {
    position: relative;
    z-index: 0;
    margin-block: 8rem;
    padding-block: 8rem;
  }

  .back {
    position: absolute;
    z-index: -5;
    inset: 0;
  }

  .shadow {
    position: absolute;
    display: block;
  }

  .shadow:nth-child(1) {
    z-index: -5;
    top: 40%;
    right: 10%;
    aspect-ratio: 4 / 5;
    width: 600px;
    background-color: #e4c1fb;
    filter: blur(999px);
    opacity: 20%;
  }

  .shadow:nth-child(2) {
    z-index: -10;
    top: -10%;
    left: 10%;
    aspect-ratio: 3 / 4;
    width: 800px;
    background-color: #a0ddfd;
    filter: blur(9999px);
    opacity: 15%;
  }

  .layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto) repeat(7, 1fr);
    gap: 1.5rem;
  }

  .intro {
    grid-column: 1 / span 8;
    grid-row: 1 / span 2;
    padding-left: 3rem;
  }

  .title {
    font-size: var(--font-size--2xl);
    color: hsl(var(--color--blue--900));
  }

  .subtitle {
    margin-top: 0.75rem;
    max-width: 32ch;
    font-size: var(--font-size--lg);
  }

  .actions {
    margin-top: 1.5rem;
  }

  .item:nth-of-type(2) {
    grid-column: 1 / span 4;
    grid-row: 4 / span 3;
  }

  .item:nth-of-type(3) {
    grid-column: 5 / span 4;
    grid-row: 3 / span 3;
  }

  .item:nth-of-type(4) {
    grid-column: 9 / span 4;
    grid-row: 5 / span 3;
  }

  .item:nth-of-type(5) {
    grid-column: 1 / span 4;
    grid-row: 7 / span 3;
  }

  .item:nth-of-type(6) {
    grid-column: 5 / span 4;
    grid-row: 6 / span 3;
  }

  .item:nth-of-type(7) {
    grid-column: 9 / span 4;
    grid-row: 1 / span 4;
  }
</style>
