---
export interface SEOProps {
  title: string;
  description?: string;
  noindex?: boolean;
}

const { title, description, noindex } = Astro.props as SEOProps;

const canonical = new URL(Astro.url.pathname, Astro.site);
const image = new URL('/og.jpg', Astro.url);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>{title}</title>
{
  noindex ? (
    <meta name="robots" content="noindex" />
  ) : (
    <>
      <meta name="description" content={description} />
      <link rel="canonical" href={canonical} />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <link rel="sitemap" href="/sitemap-index.xml" />

      <meta property="og:title" content={title} />
      <meta property="og:type" content="website" />
      <meta property="og:image" content={image} />
      <meta property="og:url" content={canonical} />
      <meta property="og:description" content={description} />
      <meta property="og:site_name" content="Vacations with Character" />
      <meta property="og:locale" content="en_US" />

      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content={title} />
      <meta name="twitter:description" content={description} />
      <meta name="twitter:image" content={image} />
    </>
  )
}
