---
export interface SEOProps {
  title: string
  description?: string
  noindex?: boolean
  image?: string
}

const { title, description, noindex, image } = Astro.props as SEOProps;

const pathname = Astro.url.pathname
const site = Astro.site
const isHome = pathname === '/'

if (!site) {
  throw new Error('No site is configured, cannot generate SEO tags')
}

const canonical = isHome ? site.origin : Astro.url.href
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>{title}</title>

{
  import.meta.env.PROD === true && (
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-DCXE1SP6FC"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-DCXE1SP6FC');
    </script>
  )
}

{
  noindex ? (
    <meta name="robots" content="noindex" />
  ) : (
    <>
      <meta name="description" content={description} />
      <link rel="canonical" href={canonical} />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <link rel="sitemap" href="/sitemap-index.xml" />

      <meta property="og:title" content={title} />
      <meta property="og:type" content="website" />
      {image && <meta property="og:image" content={Astro.site + image} />}
      <meta property="og:url" content={canonical} />
      <meta property="og:description" content={description} />
      <meta property="og:site_name" content="Vacations with Character" />
      <meta property="og:locale" content="en_US" />

      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content={title} />
      <meta name="twitter:description" content={description} />
      {image && <meta name="twitter:image" content={Astro.site + image} />}
    </>
  )
}
