---
import {
  AFFILIATE_URL_BEACHES,
  AFFILIATE_URL_DISNEY,
  AFFILIATE_URL_SANDALS,
  QUOTE_URL,
} from '../lib/constants';
import Card from './Card.astro';
import Container from './Container.astro';
import Testimonial from './Testimonial.astro';

import allInclusiveResortsImage from '../assets/images/allInclusiveResorts.jpg';
import disneyCruiseShipImage from '../assets/images/disneyCruiseShip.jpg';
import hogwartsImage from '../assets/images/hogwarts.jpg';
import magicKingdomParadeImage from '../assets/images/magicKingdomParade.jpg';
import magicKingdomStation from '../assets/images/magicKingdomStation.jpg';

const services = [
  {
    title: 'Disney Destinations',
    imageSrc: magicKingdomParadeImage,
    imageAlt: '',
    buttonText: 'Learn More',
    href: AFFILIATE_URL_DISNEY,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
  {
    title: 'Universal Orlando',
    imageSrc: hogwartsImage,
    imageAlt: '',
    buttonText: 'Get a Quote',
    href: QUOTE_URL,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
  {
    title: 'Cruising Adventures',
    imageSrc: disneyCruiseShipImage,
    imageAlt: '',
    buttonText: 'Get a Quote',
    href: QUOTE_URL,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
  {
    title: 'All-inclusives',
    imageSrc: allInclusiveResortsImage,
    imageAlt: '',
    buttonText: 'Get a Quote',
    href: QUOTE_URL,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
  {
    title: 'Sandals Vacations',
    imageSrc: magicKingdomStation,
    imageAlt: '',
    buttonText: 'Learn More',
    href: AFFILIATE_URL_SANDALS,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
  {
    title: 'Beaches Vacations',
    imageSrc: magicKingdomStation,
    imageAlt: '',
    buttonText: 'Learn More',
    href: AFFILIATE_URL_BEACHES,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
];
---

<Container>
  <div class="layout">
    <div class="cards">
      {
        services.map(
          ({ title, imageSrc, imageAlt, buttonText, href, target, rel }) => (
            <Card
              title={title}
              imageSrc={imageSrc}
              imageAlt={imageAlt}
              buttonText={buttonText}
              href={href}
              target={target}
              rel={rel}
            />
          )
        )
      }
    </div>
    <div class="testimonial">
      <Testimonial />
    </div>
  </div>
</Container>

<style>
  .layout {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 3rem;
    margin-top: -4rem;
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
    border-radius: 2rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1.5rem;
  }
</style>
