---
import {
  AFFILIATE_URL_BEACHES,
  AFFILIATE_URL_DISNEY,
  AFFILIATE_URL_SANDALS,
  QUOTE_URL,
} from '@lib/constants';
import Card from '@components/Card.astro';
import Container from '@components/Container.astro';
import Testimonial from '@components/Testimonial.astro';

import allInclusivesImage from '@assets/images/allInclusiveResorts.jpg';
import cruisingImage from '@assets/images/disneyCruiseShip.jpg';
import universalOrlandoImage from '@assets/images/hogwarts.jpg';
import disneyDestinationsImage from '@assets/images/magicKingdomParade.jpg';
import sandalsVacationsImage from '@assets/images/beachAerial.jpg';
import beachesVacationsImage from '@assets/images/familyOnBeach.jpg';

import type { ComponentProps } from 'astro/types';

const services: ComponentProps<typeof Card>[] = [
  {
    title: 'Disney Destinations',
    imageProps: {
      src: disneyDestinationsImage,
      alt: 'A child looking at a Disney float with Disney princesses on it',
    },
    buttonText: 'Learn More',
    href: AFFILIATE_URL_DISNEY,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
  {
    title: 'Universal Orlando',
    imageProps: {
      src: universalOrlandoImage,
      alt: 'Photo of the Hogwarts Castle at Universal Orlando at night',
    },
    buttonText: 'Get a Quote',
    href: QUOTE_URL,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
  {
    title: 'Cruising Adventures',
    imageProps: {
      src: cruisingImage,
      alt: 'Aerial view of a Disney Cruise Ship setting sail from land',
    },
    buttonText: 'Get a Quote',
    href: QUOTE_URL,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
  {
    title: 'All-inclusives',
    imageProps: {
      src: allInclusivesImage,
      alt: 'Off-shore photo of a Carribean resort, there are two large hotel buildings',
    },
    buttonText: 'Get a Quote',
    href: QUOTE_URL,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
  {
    title: 'Sandals Vacations',
    imageProps: {
      src: sandalsVacationsImage,
      alt: 'Aerial view of a beach with people enjoying the sand and the water',
    },
    buttonText: 'Learn More',
    href: AFFILIATE_URL_SANDALS,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
  {
    title: 'Beaches Vacations',
    imageProps: {
      src: beachesVacationsImage,
      alt: 'A small family relaxing on an isolated beach, the mother is closest in a hammock while the father and child play in the water',
    },
    buttonText: 'Learn More',
    href: AFFILIATE_URL_BEACHES,
    target: '_blank',
    rel: 'noopener noreferrer',
  },
];
---

<Container>
  <div class="layout">
    <div class="cards">
      {
        services.map(({ title, buttonText, href, target, rel, imageProps }) => (
          <Card
            title={title}
            buttonText={buttonText}
            href={href}
            target={target}
            imageProps={imageProps}
            rel={rel}
          />
        ))
      }
    </div>
    <div class="testimonial">
      <Testimonial />
    </div>
  </div>
</Container>

<style>
  .layout {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 3rem;
    margin-top: -4rem;
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
    border-radius: 2rem;
    outline-width: 2px;
    outline-style: solid;
    outline-color: hsl(var(--color--gray--100));
    outline-offset: -2px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1.5rem;
  }
</style>
